h1{
   color: blue;
}
.card-title{
    color: rgb(0, 110, 255);
}
.card{
    background-color: rgb(215, 250, 250);
}
h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
    